.DS_Store
.env
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

backend/.mypy_cache/
backend/.pytest_cache/
backend/.ruff_cache/

frontend/dist/
frontend/node_modules/

uploads/*
!uploads/.gitkeep

postgres_data/

